some quick code to take in the tweet table names and extract the news_date from them so ready to use for mesos

In [1]:
import pandas as pd

In [30]:
df = pd.read_csv('tweet_table_names.csv')

In [44]:
df = pd.read_csv('tweet_table_names.csv')
df['day'] = df['table_name'].apply(lambda x: int(x.split('_')[-2]))
df = df[df.day < 10]
df = df[df.day > 1]
df['news_date'] = '2018-2-'
df['news_date'] = df['news_date'] + df['day'].astype('str')

In [47]:
df.head(2)

                    table_name  day news_date
0  tweetsprocessed2018_02_06_2    6  2018-2-6
1  tweetsprocessed2018_02_06_3    6  2018-2-6

In [51]:
df[['table_name', 'news_date']].to_csv('tweet_tables.csv', index=False)

In [53]:
adf = pd.read_csv('tweet_tables.csv')

In [59]:
news_table = 'febnewsprocessed'
for i in range(len(adf)):
    tweet_table = adf['table_name'].iloc[i]
    news_date = adf['news_date'].iloc[i]