some quick code to take in the tweet table names and extract the news_date from them so ready to use for mesos

In [5]:
import pandas as pd
import sqlalchemy as sq
import warnings
warnings.filterwarnings('ignore')

In [6]:
engine = sq.create_engine('postgresql://ubuntu:admin@10.60.97.4:5432/postgres')

In [24]:
QUERY = """
select table_name from information_schema.tables where table_schema = 'ryan_test';
"""

In [25]:
df = pd.read_sql_query(QUERY, engine)
df = df[df.table_name.str.contains('tweetsprocessed2018_03')]

In [26]:
df['day'] = df['table_name'].apply(lambda x: int(x.split('_')[-2]))
df = df[df.day < 10]
df = df[df.day > 1]
df['news_date'] = '2018-3-'
df['news_date'] = df['news_date'] + df['day'].astype('str')

In [27]:
df.head(2)

                      table_name  day news_date
26  tweetsprocessed2018_03_02_15    2  2018-3-2
27  tweetsprocessed2018_03_02_16    2  2018-3-2

In [28]:
df[['table_name', 'news_date']].to_csv('tweet_tables.csv', index=False)

In [53]:
adf = pd.read_csv('tweet_tables.csv')